In [7]:
import pandas as pd

In [8]:
startups=pd.read_csv(r"C:\Users\Juliane\Desktop\CRR_data\Startups in 2021 end.csv")

In [15]:
CSE=pd.read_csv(r"C:\Users\Juliane\Desktop\CRR_data\cordis-h2020projects.csv")

ParserError: Error tokenizing data. C error: Expected 7 fields in line 14, saw 13

In [16]:
CSE

,Folder,Title,Filename,Location of Work
0,Data Files,Social Enterprise Sector Survey AB2014_Data,SESS_AB_2014.sav,Alberta
1,Data Files,Social Enterprise Sector Survey BC2014_Data,SESS_BC_2014.sav,BC
2,Data Files,Social Enterprise Sector Survey MB2014_Data,SESS_MB_2014.sav,Manitoba
3,Data Files,Social Enterprise Sector Survey National2014/5...,SESS_National_2014-5.sav,All provinces and territories of Canada except...
4,Data Files,Social Enterprise Sector Survey NB2014_Data,SESS_NB_2014.sav,New Brunswick
5,Data Files,Social Enterprise Sector Survey NFLD2015_Data,SESS_NFLD_2015.sav,Newfoundland and Labrador
6,Data Files,Social Enterprise Sector Survey NS2014_Data,SESS_NS_2014.sav,Nova Scotia
7,Data Files,Social Enterprise Sector Survey ON2015_Data,SESS_ON_2015.sav,Ontario
8,Data Files,Social Enterprise Sector Survey PE2014_Data,SESS_PE_2014.sav,Prince Edward Island
9,Data Files,Social Enterprise Sector Survey SK2015_Data,SESS_SK_2015.sav,Saskatchewan
10,Data Files,Social Enterprise Sector Survey Territories201...,SESS_TR_2014.sav,"Territories (YK, NT, NV)"
11,Questionnaires,Social Enterprise Sector Survey AB2014_Questio...,ALBERTA-2014_Redacted.pdf,Alberta
12,Questionnaires,Social Enterprise Sector Survey BC2014_Questio...,BRITISH-COLUMBIA-2014_Redacted.pdf,BC
13,Questionnaires,Social Enterprise Sector Survey MB2014_Questio...,Manitoba-2014_Redacted.pdf,Manitoba
14,Questionnaires,Social Enterprise Sector Survey NB2014_Questio...,New-Brunswick-2014_Redacted.pdf,New Brunswick
15,Questionnaires,Social Enterprise Sector Survey NFLD2015_Quest...,Newfoundland-and-Labrador-2015_Redacted.pdf,Newfoundland and Labrador
16,Questionnaires,Social Enterprise Sector Survey NS2014_Questio...,NOVA-SCOTIA-2014_Redacted.pdf,Nova Scotia
17,Questionnaires,Social Enterprise Sector Survey ON2015_Questio...,ONTARIO-2015_Redacted.pdf,Ontario
18,Questionnaires,Social Enterprise Sector Survey PE2014_Questio...,PRINCE_EDWARD_ISLAND-2014_Redacted.pdf,Prince Edward Island
19,Questionnaires,Social Enterprise Sector Survey SK2015_Questio...,SASKATCHEWAN-2015_Redacted.pdf,Saskatchewan
20,Questionnaires,Social Enterprise Sector Survey Territories201...,Territories-2014_Redacted.pdf,"Territories (YK, NT, NV)"
21,Variable Keys,Social Enterprise Sector Survey AB2014_Variabl...,SESS_Alberta_Variable_key.xlsx,Alberta
22,Variable Keys,Social Enterprise Sector Survey BC2014_Variabl...,SESS_BC_Variable_key.xlsx,BC
23,Variable Keys,Social Enterprise Sector Survey MB2014_Variabl...,SESS_Manitoba_Variable_key.xlsx,Manitoba
24,Variable Keys,Social Enterprise Sector Survey National2014/5...,SESS_National_Variable_Key.xlsx,All provinces and territories of Canada except...
25,Variable Keys,Social Enterprise Sector Survey NB2014_Variabl...,SESS_NB_Variable_key.xlsx,New Brunswick
26,Variable Keys,Social Enterprise Sector Survey NFLD2015_Varia...,SESS_NFLD_Variable_key.xlsx,Newfoundland and Labrador
27,Variable Keys,Social Enterprise Sector Survey NS2014_Variabl...,SESS_NS_Variable_key.xlsx,Nova Scotia
28,Variable Keys,Social Enterprise Sector Survey ON2015_Variabl...,SESS_ON_Variable Key.xlsx,Ontario
29,Variable Keys,Social Enterprise Sector Survey PE2014_Variabl...,SESS_PEI_Variable_key.xlsx,Prince Edward Island
30,Variable Keys,Social Enterprise Sector Survey SK2015_Variabl...,SESS_SK_Variable_key.xlsx,Saskatchewan
31,Variable Keys,Social Enterprise Sector Survey Territories201...,SESS_Territories_Variable_key.xlsx,"Territories (YK, NT, NV)"

In [18]:
startups.columns

Index(['Unnamed: 0', 'Company', 'Valuation ($B)', 'Date Joined', 'Country',
       'City', 'Industry', 'Select Investors'],
      dtype='object')

In [45]:
df.sort_values(by='City')

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry
863,863,Lunar,$1,7/12/2021,Denmark,Aarhus,Fintech
598,598,BrewDog,$1.24,4/10/2017,United Kingdom,Aberdeen,Consumer & retail
206,206,Sila Nanotechnologies,$3.3,4/16/2019,United States,Alameda,Other
935,935,Pet Circle,$1,12/7/2021,Australia,Alexandria,E-commerce & direct-to-consumer
513,513,Matillion,$1.5,9/15/2021,United Kingdom,Altrincham,Data management & analytics
...,...,...,...,...,...,...,...
848,848,Carro,$1,6/14/2021,Singapore,NaN,E-commerce & direct-to-consumer
861,861,bolttech,$1,7/1/2021,Singapore,NaN,Fintech
872,872,NIUM,$1,7/13/2021,Singapore,NaN,Fintech
885,885,Cider,$1,9/2/2021,Hong Kong,NaN,E-commerce & direct-to-consumer
897,897,Ninja Van,$1,9/27/2021,Singapore,NaN,"Supply chain, logistics, & delivery"

In [43]:
city.sort_values()

AttributeError: 'numpy.ndarray' object has no attribute 'sort_values'

In [19]:
df = startups.drop(('Select Investors'), axis = 1)

In [36]:
x = df["Country"].unique()

In [42]:
city = df.City.unique()

In [46]:
cities = list(df.City.unique())

In [49]:
cities = [str(city) for city in cities]

In [50]:
cities.sort()

In [51]:
cities

['Aarhus',
 'Aberdeen',
 'Alameda',
 'Alexandria',
 'Altrincham',
 'Ambler',
 'Amsterdam',
 'Arlington',
 'Atlanta',
 'Austin',
 'Bangalore',
 'Bangkok',
 'Barcelona',
 'Beijing',
 'Bellevue',
 'Bellingham',
 'Bend',
 'Bengaluru',
 'Berkeley',
 'Berkeley Heights',
 'Berlin',
 'Bethesda',
 'Boca Raton',
 'Bogota',
 'Boston',
 'Boulder',
 'Brisbane',
 'Bristol',
 'Brooklyn',
 'Brussels',
 'Bryanston',
 'Buenos Aires',
 'Burlingame',
 'Burlington',
 'Burnaby',
 'Cambridge',
 'Campinas',
 'Carlsbad',
 'Carson City',
 'Cary',
 'Cedar Park',
 'Central',
 'Changsha',
 'Changzhou',
 'Charlotte',
 'Chatham',
 'Chengdu',
 'Chennai',
 'Cheung Sha Wan',
 'Chicago',
 'Chongqing',
 'Cincinnati',
 'Colorado Springs',
 'Columbus',
 'Copenhagen',
 'Crewe',
 'Culver City',
 'Curitiba',
 'Dakar',
 'Dallas',
 'Denver',
 'Detroit',
 'Dongguan',
 'Draper',
 'Dubai',
 'Dublin',
 'Duderstadt',
 'Eden Prairie',
 'El Segundo',
 'Encinitas',
 'Englewood',
 'Englewood Cliffs',
 'Espoo',
 'Evry',
 'Faridabad',
 'Fort Mill',
 'Foster City',
 'Framingham',
 'Fremont',
 "Giv'atayim",
 'Glendale',
 'Goleta',
 'Guangzhou',
 'Guiyang',
 'Gurgaon',
 'Gurugram',
 'Hamilton',
 'Hangzhou',
 'Hanover',
 'Hawthorne',
 'Hayward',
 'Hefei',
 'Helsinki',
 'Herndon',
 'Ho Chi Minh City',
 'Hoboken',
 'Houston',
 'Hunan',
 'Inglewood',
 'Irvine',
 'Irving',
 'Islandia',
 'Istanbul',
 'Jacksonville',
 'Jaipur',
 'Jakarta',
 'Jeju-do',
 'Jersey City',
 'Jerusalem',
 'Jiangsu',
 'Kirkland',
 'Kitchener',
 'Kowloon',
 'La Plaine Saint-Denis',
 'Lagos',
 'Lausanne',
 'Leawood',
 'Lehi',
 'Lerma de Villada',
 'Leudelange',
 'Lincoln',
 'London',
 'Long Beach',
 'Los Altos',
 'Los Angeles',
 'Louisville',
 'Louvain-la-Neuve',
 'Luohe',
 'Lysaker',
 'Madison',
 'Madrid',
 'Maharashtra',
 'Manila',
 'Marina del Rey',
 'McLean',
 'Melbourne',
 'Menlo Park',
 'Mexico City',
 'Miami',
 'Midrand',
 'Mississauga',
 'Montpellier',
 'Montreal',
 'Mountain View',
 'Mumbai',
 'Munich',
 'Nanjing',
 'Nashville',
 'Netanya',
 'New Delhi',
 'New York',
 'Noida',
 'Norfolk',
 'Northbrook',
 'Oakland',
 'Osasco',
 'Oslo',
 'Palo Alto',
 'Parana',
 'Paris',
 'Pennsauken',
 'Peterborough',
 'Philadelphia',
 'Pittsburgh',
 'Plantation',
 'Pleasanton',
 'Portola Valley',
 'Prague',
 'Prilly',
 'Princeton',
 'Pune',
 'Qingdao',
 "Ra'anana",
 'Raleigh',
 'Ramat Gan',
 'Reading',
 'Redwood City',
 'Richmond',
 'Roseville',
 'Roubaix',
 'Salt Lake City',
 'San Carlos',
 'San Diego',
 'San Francisco',
 'San Jose',
 'San Mateo',
 'San Ramon',
 'Santa Barbara',
 'Santa Clara',
 'Santa Monica',
 'Santiago',
 'Sao Paulo',
 'Schaffhausen',
 'Scottsdale',
 'Seattle',
 'Selangor',
 'Seongnam-Si',
 'Seoul',
 'Shanghai',
 'Shenzhen',
 'Sherman Oaks',
 'Solihull',
 'Somerville',
 'South Jordan',
 'South San Francisco',
 'Stockholm',
 'Sunnyvale',
 'Surry Hills',
 'Suzhou',
 'Sydney',
 'Taguig City',
 'Tallinn',
 'Tampa',
 'Tel Aviv',
 'Tel Aviv-Yafo',
 'Thane',
 'Tianjin',
 'Tirat Carmel',
 'Tokyo',
 'Toronto',
 'Tsuruoka',
 'United States',
 'Unterfoehring',
 'Vancouver',
 'Vienna',
 'Vilnius',
 'Vodnjan',
 'Walnut',
 'Walpole',
 'Waltham',
 'Washington',
 'Washington DC',
 'Westerville',
 'Wilmington',
 'Wuhan',
 'Wuxi',
 'Zephyr Cove',
 'Zhuhai',
 'Zurich',
 'nan']

In [52]:
city.value_counts()

AttributeError: 'numpy.ndarray' object has no attribute 'value_counts'

In [22]:
df.nunique()

Unnamed: 0        936
Company           935
Valuation ($B)    192
Date Joined       589
Country            47
City              239
Industry           17
dtype: int64

In [23]:
df.Industry.unique()

array(['Artificial intelligence', 'Other', 'Fintech',
       'Internet software & services',
       'Supply chain, logistics, & delivery',
       'Data management & analytics', 'Edtech',
       'E-commerce & direct-to-consumer', 'Hardware', 'Health',
       'Consumer & retail', 'Auto & transportation', 'Finttech',
       'Cybersecurity', 'Mobile & telecommunications', 'Travel',
       'Artificial Intelligence'], dtype=object)

In [32]:
Industry_mapping = {'Artificial intelligence':'Artificial Intelligence'}

In [29]:
df.Industry.unique()

array(['Artificial intelligence', 'Other', 'Fintech',
       'Internet software & services',
       'Supply chain, logistics, & delivery',
       'Data management & analytics', 'Edtech',
       'E-commerce & direct-to-consumer', 'Hardware', 'Health',
       'Consumer & retail', 'Auto & transportation', 'Finttech',
       'Cybersecurity', 'Mobile & telecommunications', 'Travel',
       'Artificial Intelligence'], dtype=object)

In [10]:
df.Industry.unique()

array(['Artificial intelligence', 'Other', 'Fintech',
       'Internet software & services',
       'Supply chain, logistics, & delivery',
       'Data management & analytics', 'Edtech',
       'E-commerce & direct-to-consumer', 'Hardware', 'Health',
       'Consumer & retail', 'Auto & transportation', 'Finttech',
       'Cybersecurity', 'Mobile & telecommunications', 'Travel',
       'Artificial Intelligence'], dtype=object)

In [11]:
df.rename(columns={''})

TypeError: 'set' object is not callable

In [14]:
startups.value_counts()

Unnamed: 0  Company           Valuation ($B)  Date Joined  Country        City           Industry                         Select Investors
0           Bytedance         $140            4/7/2017     China          Beijing        Artificial intelligence          Sequoia Capital China, SIG Asia Investments, Sina Weibo, Softbank Group    1
608         Workhuman         $1.2            6/23/2020    Ireland        Dublin         Internet software & services     ICG                                                                        1
610         Dialpad           $1.2            10/6/2020    United States  San Francisco  Internet software & services     Andreessen Horowitz, Google Ventures, Section 32                           1
611         Starburst         $1.2            1/6/2021     United States  Boston         Data management & analytics      Index Ventures, Coatue Management, Andreessen Horowitz                     1
612         Tealium           $1.2            2/3/2021     United States  San Diego      Internet software & services     Georgian Partners, Silver Lake, Presidio Ventures                          1
                                                                                                                                                                                                    ..
312         WEMAKEPRICE       $2.34           9/9/2015     South Korea    Seoul          E-commerce & direct-to-consumer  IMM Investment, NXC                                                        1
313         Biren Technology  $2.32           8/18/2020    China          Shanghai       Hardware                         V FUND, IDG Capital, Green Pine Capital Partners                           1
314         Voodoo            $2.31           8/17/2020    France         Paris          Other                            Tencent Holdings, Goldman Sachs                                            1
315         Uptake            $2.3            10/27/2015   United States  Chicago        Artificial intelligence          Revolution, New Enterprise Associates, Caterpillar                         1
935         Pet Circle        $1              12/7/2021    Australia      Alexandria     E-commerce & direct-to-consumer  Prysm Capital, Baillie Gifford & Co., TDM Growth Partners                  1
Length: 920, dtype: int64

In [12]:
startups

,Unnamed: 0,Company,Valuation ($B),Date Joined,Country,City,Industry,Select Investors
0,0,Bytedance,$140,4/7/2017,China,Beijing,Artificial intelligence,"Sequoia Capital China, SIG Asia Investments, S..."
1,1,SpaceX,$100.3,12/1/2012,United States,Hawthorne,Other,"Founders Fund, Draper Fisher Jurvetson, Rothen..."
2,2,Stripe,$95,1/23/2014,United States,San Francisco,Fintech,"Khosla Ventures, LowercaseCapital, capitalG"
3,3,Klarna,$45.6,12/12/2011,Sweden,Stockholm,Fintech,"Institutional Venture Partners, Sequoia Capita..."
4,4,Canva,$40,1/8/2018,Australia,Surry Hills,Internet software & services,"Sequoia Capital China, Blackbird Ventures, Mat..."
...,...,...,...,...,...,...,...,...
931,931,YipitData,$1,12/6/2021,United States,New York,Internet software & services,"RRE Ventures+, Highland Capital Partners, The ..."
932,932,Anyscale,$1,12/7/2021,United States,Berkeley,Artificial Intelligence,"Andreessen Horowitz, Intel Capital, Foundation..."
933,933,Iodine Software,$1,12/1/2021,United States,Austin,Data management & analytics,"Advent International, Bain Capital Ventures, S..."
934,934,ReliaQuest,$1,12/1/2021,United States,Tampa,Cybersecurity,"KKR, FTV Capital, Ten Eleven Ventures"
935,935,Pet Circle,$1,12/7/2021,Australia,Alexandria,E-commerce & direct-to-consumer,"Prysm Capital, Baillie Gifford & Co., TDM Grow..."

In [9]:
Environ=pd.read_csv(r"C:\Users\Juliane\Desktop\Data analytics\my_project\Enivromental Innovations.csv")
CP=pd.read_csv(r"C:\Users\Juliane\Desktop\Data analytics\My_project\Child_Abuse_Prevention_Services_in_San_Francisco.csv")
EU=pd.read_csv(r"C:\Users\Juliane\Desktop\CRR_data\cordisref-H2020topics.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [3]:
EU=pd.read_csv(r"C:\Users\Juliane\Desktop\CRR_data\cordisref-H2020topics.csv")

ParserError: Error tokenizing data. C error: Expected 1 fields in line 4, saw 2

In [3]:
df

,innovation name,Paper value chain,Plastic value chain,Steel value chain,Meat and dairy value chain,Is this innovation designed to substitute one of our four industries?,Primary part of the value chain captured by this innovation?,Type of innovation,Year Launched,Type of product/service,...,Unnamed: 74,Unnamed: 75,Unnamed: 76,Unnamed: 77,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83
0,Crowdfunding for climate finance,No,No,No,No,No,Finance,Social - Economic,2006,Bulk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Green Climate Fund,No,No,No,No,No,Finance,Social - Governance,2010,Bulk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Corporate Emissions Disclosure and Divestment,No,No,No,No,No,Finance,Social - Governance,2014,Bulk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,LingoBoost,Yes,No,No,No,No,Production,Technological - Product,2006,Differentiated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,FibreForm,Yes,No,No,No,Yes,Production,Technological - Product,2013,Differentiated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
104,World Bank Green Bonds,Yes,Yes,Many thanks for reaching out. We are glad that...,Yes,No,Finance,Social -\n Economic,2008,Differentiated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,Friesland Campina Green Bonds,No,No,No,Yes,No,Finance,Social -\n Economic,2016,Bulk,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,IIGCC(Insitutional investors group on climate ...,Yes,Yes,Yes,Yes,No,Finance,Social -\n Economic,2012,Differentiated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,Ceres Investor Network on Climate risk and Sus...,Yes,Yes,Yes,Yes,No,Finance,Social -\n Economic,2003,Differentiated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,EIB 25% Commitment,Yes,Yes,Yes,Yes,No,Finance,Social -\n Economic,2015,Differentiated,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
Data

,title,up_vote,author,comment_type,total_comments,latest_comment_author,time
0,Kaggle Has Officially Passed 14 MILLION Users!,24.0,Justin Oh,in General,29,DebamritaPaul,43m
1,I became a Notebooks Expert!!,30.0,Eugeniy Osetrov,in General,74,Aryan,1h
2,🎉 3x Kaggle Expert! 🎉,25.0,Joakim Arvidsson,in General,44,NileshThonte,2h
3,[LB 409] my experiment results,20.0,NaN,in HuBMAP - Hacking the Human Vasculature,17,NaN,15m
4,⭐ TOP 10 Kagglers on Discussions 🤜🤛,24.0,Yassir Acharki,in General,55,kazuru,6h
...,...,...,...,...,...,...,...
18514,What are the best results using only news data?,2.0,RehanAhmed,in Two Sigma: Using News to Predict Stock Mov...,10,PW,5y
18515,1 hour to go OR 13 hours to go ???,3.0,Shan,in WSDM - Fake News Classification,2,NaN,5y
18516,fastai import error on Kaggle,0.0,Pranshu Kumar,in General,1,RamRamrakhya,5y
18517,Machine Learning (4 x Nvidia GTX1070 GPU) serv...,0.0,Alex Erofeev,in Questions & Answers,1,AlexErofeev,5y
18518,What is the normal range of f1 score in valid ...,0.0,GentleWind,in Human Protein Atlas Image Classification,7,ShivGowda,4y

In [7]:
CP

,Program or Contract Name,Contractor Name,Combined Program and Contractor Name,Program Description,Lead Department,Department Division,Targets of Service,Service Categories,Levels of Prevention,Name of Evidence Based Practice used,...,Target Providers,Target System,Level Primary,Level Secondary,Level Tertiary,PF Social-Emotional,PF Parental Resilience,PF Knowledge of Parenting,PF Concrete Support,PF Social Connections
0,Mission Family Center,NaN,Mission Family Center-,Outpatient clinic,Department of Public Health,Behavioral Health Services,Children/Youth; Parents/Families,Mental/Behavioral Health Services;,Primary,Anger Management,...,0,0,1,0,0,0,1,0,0,0
1,Child Health and Disability Prevention (CHDP),NaN,Child Health and Disability Prevention (CHDP)-,Medical care coordination for low-income famil...,Department of Public Health,"Mother, Child, and Adolescent Health",Parents/Families; Providers/Professionals,Case Management; Programs For Professionals; M...,Primary; Secondary,NaN,...,1,0,1,1,0,0,0,0,0,0
2,Child Protection Center (CPC),Edgewood Center for Children and Families,Child Protection Center (CPC)-EDGEWOOD CENTER ...,The purpose of this grant is to support the st...,Human Services Agency,NaN,System/Administrators,Programs For Professionals;,Tertiary,NaN,...,0,1,0,0,1,0,0,0,0,0
3,Counseling Enriched Educational Program,Edgewood Children's Center,Counseling Enriched Educational Program-Edgewo...,Goal Statement: Edgewood Center’s Non-Public S...,Department of Public Health,Behavioral Health Services,Children/Youth,Mental/Behavioral Health Services;,Secondary; Tertiary,NaN,...,0,0,0,1,1,1,0,0,0,0
4,ACES screening for caregivers,NaN,ACES screening for caregivers-,Screening for caregiver trauma. Use this to li...,Department of Public Health,ZSFG/UCSF,Parents/Families,Parent Support;,Primary; Secondary,NaN,...,0,0,1,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
370,Youth Justice Services,Hunters Point Family,Youth Justice Services- Hunters Point Family,Program provides the following services:\n• Ca...,Juvenile Probation,NaN,Children/Youth,Case Management; Mental/Behavioral Health Serv...,Primary,NaN,...,0,0,1,0,0,1,0,0,0,0
371,Youth Moving Forward,Bayview Hunters Point Foundation,Youth Moving Forward-Bayview Hunters Point Fou...,Goal Statement: Will provide evidence based co...,Department of Public Health,Behavioral Health Services,Children/Youth,Substance Abuse;,Primary; Secondary,NaN,...,0,0,1,1,0,1,0,0,0,0
372,Youth Services Prevention,Bayview Hunters Point Foundation,Youth Services Prevention-Bayview Hunters Poin...,Goal Statement: will provide an evidence-based...,Department of Public Health,Behavioral Health Services,Children/Youth; Parents/Families,"Social, Emotional, Behavioral Development Prog...",Primary; Secondary,NaN,...,0,0,1,1,0,1,1,1,0,0
373,Youth Transitional Services,Seneca Center,Youth Transitional Services-Seneca Center,Goal Statement: The goal of this new program i...,Department of Public Health,Behavioral Health Services,Children/Youth,Mental/Behavioral Health Services;,Primary; Secondary,NaN,...,0,0,1,1,0,1,1,0,0,0
374,ZSFG Health Advocates Program,NaN,ZSFG Health Advocates Program-,The program improves the community's experienc...,Department of Public Health,ZSFG/UCSF,Providers/Professionals,Programs For Professionals;,Primary,NaN,...,1,0,1,0,0,0,0,0,1,0

In [11]:
SI = pd.read_csv(r"C:\Users\Juliane\Desktop\CRR_data\sie_projects.csv")

In [12]:
SI

,Project Name,項目名稱,项目名称,Grantee,獲資助者,获资助者,Project Type,項目類型,项目类型,Innovative Programme,...,获批资助额 （港币）,Funding Period (months),資助期(月),资助期(月),Status,狀況,状况,Project Website,項目網頁,项目网页
0,Gerontechnology Platform,樂齡科技平台,乐龄科技平台,The Hong Kong Council of Social Service,香港社會服務聯會,香港社会服务联会,Capacity Building Project,能力提升,能力提升,NaN,...,47707541,36.0,36.0,36.0,Active,推展中,推展中,NaN,NaN,NaN
1,Start from the Beginning - Chinese Supporting ...,從起步開始 --- 幼稚園非華語學生學習中文支援計劃按效益付費計劃 (2020-2023),从起步开始 --- 幼稚园非华语学生学习中文支援计划按效益付费计划 (2020-2023),Oxfam Hong Kong,香港樂施會,香港乐施会,Innovative Project/Venture,創新計劃,创新计划,NaN,...,28808000,36.0,36.0,36.0,Active,推展中,推展中,NaN,NaN,NaN
2,FOOD-CO 2.0,FOOD-CO 2.0,FOOD-CO 2.0,St. James' Settlement,聖雅各福群會,圣雅各福群会,Capacity Building Project,能力提升,能力提升,NaN,...,22825000,41.0,41.0,41.0,Completed,已完成,已完成,https://food-co.hk,https://food-co.hk,https://food-co.hk
3,Second Evaluation Study of the SIE Fund,第二期社創基金評估研究,第二期社创基金评估研究,The University of Hong Kong,香港大學,香港大学,Research,研究,研究,NaN,...,11411696,39.0,39.0,39.0,Active,推展中,推展中,NaN,NaN,NaN
4,FOOD-CO,FOOD-CO,FOOD-CO,St. James' Settlement,聖雅各福群會,圣雅各福群会,Capacity Building Project,能力提升,能力提升,NaN,...,10572676,36.0,36.0,36.0,Completed,已完成,已完成,https://food-co.hk,https://food-co.hk,https://food-co.hk
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499,Love Your Ears,耳愛同行,耳爱同行,(Individual),（個人）,（个人）,Innovative Project/Venture,創新計劃,创新计划,Innovator Farm programme run by the Fullness S...,...,50000,12.00,12.00,12.00,Completed,已完成,已完成,NaN,NaN,NaN
500,Mindbridge,聆心橋,聆心桥,(Individual),（個人）,（个人）,Innovative Project/Venture,創新計劃,创新计划,Innovator Farm programme run by the Fullness S...,...,50000,6.00,6.00,6.00,Active,推展中,推展中,NaN,NaN,NaN
501,NEVER TOO LATE,NEVER TOO LATE,NEVER TOO LATE,NTL Recruitment Limited,NTL Recruitment Limited,NTL Recruitment Limited,Innovative Project/Venture,創新計劃,创新计划,Innovator Farm programme run by the Fullness S...,...,50000,12.00,12.00,12.00,Completed,已完成,已完成,NaN,NaN,NaN
502,Petvolution,Petvolution,Petvolution,(Individual),（個人）,（个人）,Innovative Project/Venture,創新計劃,创新计划,BEHub programme run by The Society of Rehabili...,...,50000,15.00,15.00,15.00,Completed,已完成,已完成,NaN,NaN,NaN
503,星夢GPS,星夢GPS,星梦GPS,(Individual),（個人）,（个人）,Innovative Project/Venture,創新計劃,创新计划,Innovator Farm programme run by the Fullness S...,...,50000,6.00,6.00,6.00,Completed,已完成,已完成,NaN,NaN,NaN