In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris, load_breast_cancer
from sklearn.datasets import fetch_california_housing
from sklearn.datasets import load_iris, load_breast_cancer
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree
%matplotlib inline

In [2]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,  ConfusionMatrixDisplay
from sklearn.metrics import accuracy_score, precision_score, recall_score

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [3]:
#Read that data into Python and call the dataframe churnData.
df = pd.read_csv(r"C:\Users\Juliane\Documents\GitHub\labs_repo\Labs\LabsW7\DATA_Customer-Churn.csv")

In [39]:
#Check the datatypes of all the columns in the data. You will see that the column TotalCharges is object type. 
#Convert this column into numeric type using pd.to_numeric function.
df

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes
3,Male,0,No,No,45,No,Yes,No,Yes,Yes,No,No,One year,42.30,1840.75,No
4,Female,0,No,No,2,Yes,No,No,No,No,No,No,Month-to-month,70.70,151.65,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,Male,0,Yes,Yes,24,Yes,Yes,No,Yes,Yes,Yes,Yes,One year,84.80,1990.50,No
7039,Female,0,Yes,Yes,72,Yes,No,Yes,Yes,No,Yes,Yes,One year,103.20,7362.90,No
7040,Female,0,Yes,Yes,11,No,Yes,No,No,No,No,No,Month-to-month,29.60,346.45,No
7041,Male,1,Yes,No,4,Yes,No,No,No,No,No,No,Month-to-month,74.40,306.60,Yes
7042,Male,0,No,No,66,Yes,Yes,No,Yes,Yes,Yes,Yes,Two year,105.65,6844.50,No

In [40]:
#pd.to_numeric(db.TotalCharges)

df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [43]:
df['Churn'] = df['Churn'].replace("yes", "1").replace("no", "0")

In [45]:
df['Churn'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges        float64
Churn               float64
dtype: object

In [46]:
#Check for null values in the dataframe. Replace the null values.   # MAYBE AGAIN WITH NEXT NEIGHBOUR
df.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [47]:
df = df['TotalCharges'].fillna(df['TotalCharges'].mean())

In [48]:
df.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [49]:
df.head(3)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,29.85
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.50,1889.50
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,108.15

In [50]:
#Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges
X = df[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges']]  # Define and put the features you want in X 
y = df['Churn']  # Target variable

# - Split the data into a training set and a test set.
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [55]:
y_train

2142    1336.800000
1623    5129.450000
6074      23.450000
1362     237.950000
6754    2283.300441
           ...
3772      95.000000
5191    2198.300000
5226     306.050000
5390    1200.150000
860      457.300000
Name: Churn, Length: 5634, dtype: float64

In [56]:
# - Scale the features either by using normalizer (> MinMaxScaler) or a standard scaler.
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [57]:
#pt = PowerTransformer()
#pt.fit(X_train)
#X_train_log = pt.transform(X_train)
#X_test_log = pt.transform(X_test)
len(y_pred_test_log)

1409

In [58]:
# Fit a logistic regression model on the training data.

from sklearn.preprocessing import PowerTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

log_model = LogisticRegression(random_state=42)

log_model.fit(X_train_scaled, y_train)

#Predictions 
y_pred_train_log = log_model.predict(X_train_scaled)
y_pred_test_log = log_model.predict(X_test_scaled)

#Performance metrics with pos_label set to 'Yes'.
performance_log = pd.DataFrame({'Error_metric': ['Accuracy', 'Precision', 'Recall'],
                                'Train': [accuracy_score(y_train, y_pred_train_log),
                                          precision_score(y_train, y_pred_train_log, pos_label='Yes'),
                                          recall_score(y_train, y_pred_train_log, pos_label='Yes')],
                                'Test': [accuracy_score(y_test, y_pred_test_log),
                                         precision_score(y_test, y_pred_test_log, pos_label='Yes'),
                                         recall_score(y_test, y_pred_test_log, pos_label='Yes')]})

display(performance_log)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [59]:
# - Fit a Knn Classifier(NOT KnnRegressor please!)model on the training data.
model = KNeighborsClassifier(n_neighbors=10,weights='uniform') # declare we're using knn classification model
model.fit(X_train_scaled, y_train) # train model
y_pred = model.predict(X_test_scaled) # predict test
y_pred_train=model.predict(X_train_scaled) # predict train (for sanity checks)

# Calculate performance metrics with pos_label set to 'Yes'.
performance_log = pd.DataFrame({'Error_metric': ['Accuracy', 'Precision', 'Recall'],
                                'Train': [accuracy_score(y_train, y_pred_train_log),
                                          precision_score(y_train, y_pred_train_log, pos_label='Yes'),
                                          recall_score(y_train, y_pred_train_log, pos_label='Yes')],
                                'Test': [accuracy_score(y_test, y_pred_test_log),
                                         precision_score(y_test, y_pred_test_log, pos_label='Yes'),
                                         recall_score(y_test, y_pred_test_log, pos_label='Yes')]})

display(performance_log)

ValueError: Unknown label type: continuous. Maybe you are trying to fit a classifier, which expects discrete classes on a regression target with continuous values.

In [60]:
len(y_pred)

1409

In [61]:
y_pred[0:5]

array(['No', 'No', 'No', 'Yes', 'No'], dtype=object)

In [62]:
y_test.head(5)

185       24.80
2715     996.45
3825    1031.70
1807      76.35
132     3260.10
Name: Churn, dtype: float64

In [63]:
X_test

      tenure  SeniorCitizen  MonthlyCharges  TotalCharges
185        1              0           24.80         24.80
2715      41              0           25.25        996.45
3825      52              0           19.35       1031.70
1807       1              0           76.35         76.35
132       67              0           50.55       3260.10
...      ...            ...             ...           ...
6366      64              0           68.30       4378.80
315       51              0          110.05       5686.40
2439      17              0           19.90        329.75
5002      69              0           43.95       2960.10
1161       1              0           31.35         31.35

[1409 rows x 4 columns]

In [64]:
y_test

185       24.80
2715     996.45
3825    1031.70
1807      76.35
132     3260.10
         ...
6366    4378.80
315     5686.40
2439     329.75
5002    2960.10
1161      31.35
Name: Churn, Length: 1409, dtype: float64

In [65]:
cm = confusion_matrix(y_test, y_pred, labels= model.classes_)
disp = ConfusionMatrixDisplay(cm)
disp.plot()

AttributeError: 'KNeighborsClassifier' object has no attribute 'classes_'

In [54]:
#!pip install graphviz
#conda install -c conda-forge python-graphviz
y_pred_train = model.predict(X_train)
y_pred_test  = model.predict(X_test)

AttributeError: 'DecisionTreeRegressor' object has no attribute 'tree_'

In [24]:
y.value_counts()

No     5174
Yes    1869
Name: Churn, dtype: int64

In [34]:
#y_pred_train = y_pred_train.replace("yes", "1").replace("no", "0")
#y_pred_test = y_pred_test.replace("yes", "1").replace("no", "0")

# Assuming y_pred_train and y_pred_test are NumPy arrays
y_train = np.where(y_train == "yes", 1, y_train)
y_train = np.where(y_train == "no", 0, y_train)

y_test = np.where(y_test == "yes", 1, y_test)
y_test = np.where(y_test == "no", 0, y_test)

X_test = np.where(X_test == "yes", 1, X_test)
X_test = np.where(X_test == "no", 0, X_test)

In [35]:
model = DecisionTreeRegressor(max_depth=3)

# Not needed because I'm using a decision tree
#trans = PowerTransform(), StandardScaler()
#trans.fit(X_train)

model.fit(X_train, y_train)

y_pred_train = model.predict(X_train)
y_pred_test  = model.predict(X_test)

ValueError: could not convert string to float: 'No'

In [36]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

def performance_model(y_train, y_test, y_pred_train, y_pred_test):

    # Model validation y_train - y_pred_train
    ME_train = np.mean(y_train-y_pred_train)
    ME_test  = np.mean(y_test-y_pred_test)

    MAE_train = mean_absolute_error(y_train,y_pred_train)
    MAE_test  = mean_absolute_error(y_test,y_pred_test)

    MSE_train = mean_squared_error(y_train,y_pred_train)
    MSE_test  = mean_squared_error(y_test,y_pred_test)

    RMSE_train = np.sqrt(MSE_train)
    RMSE_test  = np.sqrt(MSE_test)

    MAPE_train = np.mean((np.abs(y_train-y_pred_train) / y_train)* 100.)
    MAPE_test  = np.mean((np.abs(y_test-y_pred_test) / y_test)* 100.)

    R2_train = r2_score(y_train,y_pred_train)
    R2_test  = r2_score(y_test,y_pred_test)

    performance = pd.DataFrame({'Error_metric': ['Mean error','Mean absolute error','Mean squared error',
                                             'Root mean squared error','Mean absolute percentual error',
                                             'R2'],
                            'Train': [ME_train, MAE_train, MSE_train, RMSE_train, MAPE_train, R2_train],
                            'Test' : [ME_test, MAE_test , MSE_test, RMSE_test, MAPE_test, R2_test]})

    pd.options.display.float_format = '{:.2f}'.format


    df_train = pd.DataFrame({'Real_value': y_train, 'Predicted_value': y_pred_train})
    df_test  = pd.DataFrame({'Real_value': y_test,  'Predicted_value': y_pred_test})

    return performance, df_train, df_test

In [37]:
performance, _ ,_ = performance_model(y_train, y_test, y_pred_train, y_pred_test)
performance

NameError: name 'y_pred_test' is not defined

In [38]:
from sklearn.tree import plot_tree
fig, axes = plt.subplots(nrows = 1,ncols = 1,figsize = (20,10))

plot_tree(model,filled = True, rounded=True), feature_names=list(X.columns)
plt.show()

SyntaxError: invalid syntax. Maybe you meant '==' or ':=' instead of '='? (2348967160.py, line 4)