# Lab | Data Structuring and Combining Data

For Challenge 1, you can either use data which has already been cleaned (option 1) or clean it yourself (option 2).

## Challenge 1: Combining Data (Option 1)

In this challenge, we will be working with the customer data from an insurance company, as we did in the two previous labs. The data can be found here:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

But this time, we got new data, which can be found in the following 2 CSV files located at the following links:
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv

Combine the data from the three dataframes into a single dataframe, named "customer_data", using appropriate merging, concatenating, and joining techniques.

Verify that the customer_data dataframe contains all the rows and columns from the three original dataframes.

## Challenge 1: Combining & Cleaning Data (Option 2)

If in the previous lab you created your cleaning and formatting function, or if you want to do it now, instead of using the two clean files provided above, you can use your function to clean and format the data in these two raw files below:

- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2.csv
- https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3.csv

Observation:
- One option is to first combine the three datasets and then apply the cleaning function to the new combined dataset
- Another option would be to read the clean file you saved in the previous lab, and just clean the two new files and concatenate the three clean datasets

In [4]:
import pandas as pd

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
url1 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file2_clean.csv'
url2 = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file3_clean.csv'
    
df = pd.read_csv(url)
df1 = pd.read_csv(url1)
df2 = pd.read_csv(url2)

In [5]:
df.shape

(4008, 11)

In [6]:
df1.shape

(12074, 11)

In [7]:
df2.shape

(12074, 11)

In [26]:
df_c = pd.concat([df, df1, df2])
df_c.reset_index()
df_c.tail(3)

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
12071,TD14365,California,M,Bachelor,8163.890428,0.0,85.0,3,Corporate Auto,Four-Door Car,790.784983
12072,UP19263,California,M,College,7524.442436,21941.0,96.0,0,Personal Auto,Four-Door Car,691.200000
12073,Y167826,California,M,College,2611.836866,0.0,77.0,0,Corporate Auto,Two-Door Car,369.600000

In [25]:
df_c.shape

(28156, 11)

# Challenge 2: Structuring Data

In this challenge, we will continue to work with customer data from an insurance company, but we will use a dataset with more columns, called marketing_customer_analysis.csv, which can be found at the following link:

https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv

This dataset contains information such as customer demographics, policy details, vehicle information, and the customer's response to the last marketing campaign. Our goal is to explore and analyze this data by performing data cleaning, formatting, and structuring.

In [37]:
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/marketing_customer_analysis_clean.csv'
mar = pd.read_csv(url)

mar.shape

(10910, 27)

In [38]:
mar.columns

Index(['unnamed:_0', 'customer', 'state', 'customer_lifetime_value',
       'response', 'coverage', 'education', 'effective_to_date',
       'employmentstatus', 'gender', 'income', 'location_code',
       'marital_status', 'monthly_premium_auto', 'months_since_last_claim',
       'months_since_policy_inception', 'number_of_open_complaints',
       'number_of_policies', 'policy_type', 'policy', 'renew_offer_type',
       'sales_channel', 'total_claim_amount', 'vehicle_class', 'vehicle_size',
       'vehicle_type', 'month'],
      dtype='object')

In [39]:
mar.tail(3)

,unnamed:_0,customer,state,customer_lifetime_value,response,coverage,education,effective_to_date,employmentstatus,gender,...,number_of_policies,policy_type,policy,renew_offer_type,sales_channel,total_claim_amount,vehicle_class,vehicle_size,vehicle_type,month
10907,10907,TL39050,Arizona,23893.304100,No,Extended,Bachelor,2011-02-06,Employed,F,...,2,Corporate Auto,Corporate L3,Offer1,Web,381.306996,Luxury SUV,Medsize,A,2
10908,10908,WA60547,California,11971.977650,No,Premium,College,2011-02-13,Employed,F,...,6,Personal Auto,Personal L1,Offer1,Branch,618.288849,SUV,Medsize,A,2
10909,10909,IV32877,California,6857.519928,No,Basic,Bachelor,2011-01-08,Unemployed,M,...,3,Personal Auto,Personal L1,Offer4,Web,1021.719397,SUV,Medsize,A,1

1. You work at the marketing department and you want to know which sales channel brought the most sales in terms of total revenue. Using pivot, create a summary table showing the total revenue for each sales channel (branch, call center, web, and mail).
Round the total revenue to 2 decimal points.  Analyze the resulting table to draw insights.

In [33]:
pivot_mar = mar.pivot_table(index='sales_channel', columns='customer_lifetime_value')

C:\Users\Juliane\AppData\Local\Temp\ipykernel_21856\2456427857.py:2: FutureWarning: pivot_table dropped a column because it failed to aggregate. This behavior is deprecated and will raise in a future version of pandas. Select only the columns that can be aggregated.
  pivot_mar = mar.pivot_table(index='sales_channel', columns='customer_lifetime_value')

In [34]:
pivot_mar

                              income                                         \
customer_lifetime_value 1898.007675  1898.683686  1904.000852  1918.119700
sales_channel
Agent                            0.0          0.0          0.0          NaN
Branch                           NaN          NaN          NaN          0.0
Call Center                      NaN          NaN          NaN          NaN
Web                              NaN          NaN          NaN          NaN

                                                                             \
customer_lifetime_value 1940.981221  1994.774936  2004.350666  2009.772923
sales_channel
Agent                            NaN          NaN          NaN          0.0
Branch                           NaN          NaN          0.0          NaN
Call Center                      0.0          NaN          NaN          NaN
Web                              NaN          0.0          NaN          NaN

                                                   ...   unnamed:_0  \
customer_lifetime_value 2030.783687  2034.993043   ... 58753.880460
sales_channel                                      ...
Agent                            0.0          NaN  ...       8301.0
Branch                           NaN          NaN  ...          NaN
Call Center                      NaN          NaN  ...          NaN
Web                              NaN          0.0  ...          NaN

                                                                             \
customer_lifetime_value 60556.192130 61134.683070 61850.188030 64618.757150
sales_channel
Agent                            NaN          NaN          NaN          NaN
Branch                           NaN       3210.0       7436.0       4595.0
Call Center                      NaN          NaN          NaN          NaN
Web                           7042.0          NaN          NaN          NaN

                                                                             \
customer_lifetime_value 66025.754070 67907.270500 73225.956520 74228.516040
sales_channel
Agent                         6828.0       9070.0          NaN          NaN
Branch                           NaN          NaN       1140.0         77.0
Call Center                      NaN          NaN          NaN          NaN
Web                              NaN          NaN          NaN          NaN


customer_lifetime_value 83325.381190
sales_channel
Agent                            NaN
Branch                           NaN
Call Center                   7944.0
Web                              NaN

[4 rows x 72369 columns]

2. Create a pivot table that shows the average customer lifetime value per gender and education level. Analyze the resulting table to draw insights.

In [41]:
pivot_df = df.pivot_table(index='education', columns='gender', values='customer_lifetime_value', aggfunc='sum')

# Error doesnt make sense...hmmmm

KeyError: 'customer_lifetime_value'

## Bonus

You work at the customer service department and you want to know which months had the highest number of complaints by policy type category. Create a summary table showing the number of complaints by policy type and month.
Show it in a long format table.

*In data analysis, a long format table is a way of structuring data in which each observation or measurement is stored in a separate row of the table. The key characteristic of a long format table is that each column represents a single variable, and each row represents a single observation of that variable.*

*More information about long and wide format tables here: https://www.statology.org/long-vs-wide-data/*

In [ ]:
# Your code goes here