# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [134]:
import pandas as pd
url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
ins = pd.read_csv(url)

In [135]:
ins.columns

Index(['Customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value',
       'Income', 'Monthly Premium Auto', 'Number of Open Complaints',
       'Policy Type', 'Vehicle Class', 'Total Claim Amount'],
      dtype='object')

In [136]:
ins.rename(columns= {'ST': 'state'}, inplace=True)
print(list(ins.columns))

['Customer', 'state', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']

In [137]:
col_l = ['customer', 'ST', 'GENDER', 'Education', 'Customer Lifetime Value', 'Income', 'Monthly Premium Auto', 'Number of Open Complaints', 'Policy Type', 'Vehicle Class', 'Total Claim Amount']

In [144]:
ins.columns = [i.lower() and i.replace(" ", "_") for i in ins.columns]
print(ins.columns)

Index(['Customer', 'state', 'GENDER', 'Education', 'Customer_Lifetime_Value',
       'Income', 'Monthly_Premium_Auto', 'Number_of_Open_Complaints',
       'Policy_Type', 'Vehicle_Class', 'Total_Claim_Amount'],
      dtype='object')

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [139]:
ins.gender.unique()

AttributeError: 'DataFrame' object has no attribute 'gender'

In [ ]:
ins['gender']

In [ ]:
ins['gender_mapped'] = ins['gender'].map({'M': 'Male', 'F': 'Female', 'female': 'Female', 'femal': 'Female'})

In [ ]:
ins['gender_mapped']

In [ ]:
# State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"
ins['state']

In [ ]:
ins.state.unique()

In [ ]:
ins['state_mapped'] = ins['state'].map({'Cali': 'California', 'AZ': 'Arizona', 'WA': 'Washington'})

In [ ]:
ins.education.unique()

In [ ]:
ins['education'] = ins['education'].apply(lambda x: education_mapping.get(x, x))

In [ ]:
# In education, "Bachelors" could be replaced by "Bachelor"
ins['education_mapped'] = ins['education'].map({'Bachelor': 'Bachelors'})
print(ins.Education)

In [ ]:
# In Customer Lifetime Value, delete the % character
ins.customer_lifetime_value.head()

In [ ]:
ins['customer_lifetime_value'] = ins['customer_lifetime_value'].str.replace('%', '')

In [ ]:
ins['customer_lifetime_value'] = ins['customer_lifetime_value'].apply(lambda x: float (x.replace('%', '') if type(x)==str else x)

In [ ]:
ins.customer_lifetime_value.head()

In [ ]:
# In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"
ins['vehicle_class'] = ins['vehicle_class'].replace(['Sports Car', 'Luxury SUV', 'Luxury Car'], 'Luxury')

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [ ]:
ins.dtypes

In [ ]:
ins["customer_lifetime_value"] = ins["customer_lifetime_value"].apply(lambda x: float(x) if isinstance(x, str) else x)

In [ ]:
ins = ins.astype({...})

In [ ]:
ins.dtypes

In [141]:
# Number of open complaints has an incorrect format. Look at the different values it takes with unique() and take the middle 
# value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use split() to deal with it
# and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.

ins['number_of_open_complaints'].unique()

KeyError: 'number_of_open_complaints'

In [140]:
ins['number_of_open_complaints'] = ins['number_of_open_complaints'].apply(lambda x: int(x[2]) if type(x) == str else x)

KeyError: 'number_of_open_complaints'

In [ ]:
noc = ['1/0/00', '1/2/00', '1/1/00', '1/3/00', '1/5/00', '1/4/00']
noc_s = [i.split() for i in noc]
print(noc_s)

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers using `applymap()`.

In [70]:
ins.isnull()

,customer,state,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount,gender_mapped,state_mapped
0,False,False,True,False,True,False,False,False,False,False,False,True,True
1,False,False,False,False,False,False,False,False,False,False,False,False,True
2,False,False,False,False,False,False,False,False,False,False,False,False,True
3,False,False,False,False,False,False,False,False,False,False,False,False,True
4,False,False,False,False,False,False,False,False,False,False,False,False,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4003,True,True,True,True,True,True,True,True,True,True,True,True,True
4004,True,True,True,True,True,True,True,True,True,True,True,True,True
4005,True,True,True,True,True,True,True,True,True,True,True,True,True
4006,True,True,True,True,True,True,True,True,True,True,True,True,True
4007,True,True,True,True,True,True,True,True,True,True,True,True,True

In [142]:
customer_data.isna().sum()

NameError: name 'customer_data' is not defined

In [117]:
ins.dropna(inplace=True)

In [118]:
ins.isnull()

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,gender_mapped,state_mapped,ed_mapped,education_mapped
139,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
195,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
209,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
221,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
229,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
245,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
258,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
260,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
264,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
274,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
281,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
283,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
284,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
287,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
297,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
472,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
486,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
516,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
755,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
771,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
777,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
797,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
809,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
811,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
817,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
825,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
838,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
841,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
843,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
849,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
855,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
878,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
890,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
891,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
899,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
901,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
920,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
930,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
968,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
978,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
982,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
984,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
994,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1005,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1013,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1016,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1019,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1031,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1036,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1038,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1061,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1065,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [ ]:
customer_data["gender"]fillna("F", inplace=True)

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [121]:
ins.duplicated().any()

False

In [122]:
ins.drop_duplicates(inplace=True)

In [125]:
ins.drop_duplicates(subset=['income']).tail(2)

,customer,state,gender,education,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,vehicle_class,total_claim_amount,gender_mapped,state_mapped,ed_mapped,education_mapped
1036,TK30357,Cali,F,Bachelor,1413434.74,90844.0,118.0,1/0/00,Personal Auto,SUV,232.674417,Female,California,Bachelors,Bachelors
1065,XD85577,Cali,M,Bachelor,284226.69,69417.0,73.0,1/1/00,Personal Auto,Four-Door Car,30.874869,Male,California,Bachelors,Bachelors

In [123]:
ins.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount', 'gender_mapped',
       'state_mapped', 'ed_mapped', 'education_mapped'],
      dtype='object')

In [126]:
# Save the cleaned dataset to a new CSV file

output_csv_file = 'ins_cleaned.csv'

ins.to_csv(output_csv_file, index=False)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [ ]:
# Your code here