In [1]:
from os import times
import pandas as pd
from io import StringIO

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import OneHotEncoder, LabelEncoder, StandardScaler
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt

In [16]:
t = sns.load_dataset('titanic')

In [17]:
t

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
887,1,1,female,19.0,0,0,30.0000,S,First,woman,False,B,Southampton,yes,True
888,0,3,female,NaN,1,2,23.4500,S,Third,woman,False,NaN,Southampton,no,False
889,1,1,male,26.0,0,0,30.0000,C,First,man,True,C,Cherbourg,yes,True
890,0,3,male,32.0,0,0,7.7500,Q,Third,man,True,NaN,Queenstown,no,True

In [33]:
t.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [19]:
import pandas as pd
from sklearn.model_selection import train_test_split

X = t.drop(columns=['survived'])
y = t['survived']

def split_dataset(titanic_csv):
    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    return X_train, X_test, y_train, y_test

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [27]:
X_train

,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
331,1,male,45.5,0,0,28.5000,S,First,man,True,C,Southampton,no,True
733,2,male,23.0,0,0,13.0000,S,Second,man,True,NaN,Southampton,no,True
382,3,male,32.0,0,0,7.9250,S,Third,man,True,NaN,Southampton,no,True
704,3,male,26.0,1,0,7.8542,S,Third,man,True,NaN,Southampton,no,False
813,3,female,6.0,4,2,31.2750,S,Third,child,False,NaN,Southampton,no,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
106,3,female,21.0,0,0,7.6500,S,Third,woman,False,NaN,Southampton,yes,True
270,1,male,NaN,0,0,31.0000,S,First,man,True,NaN,Southampton,no,True
860,3,male,41.0,2,0,14.1083,S,Third,man,True,NaN,Southampton,no,False
435,1,female,14.0,1,2,120.0000,S,First,child,False,B,Southampton,yes,False
102,1,male,21.0,0,1,77.2875,S,First,man,True,D,Southampton,no,False

In [28]:
split_dataset(t)

(     pclass     sex   age  sibsp  parch      fare embarked   class    who  \
 331       1    male  45.5      0      0   28.5000        S   First    man
 733       2    male  23.0      0      0   13.0000        S  Second    man
 382       3    male  32.0      0      0    7.9250        S   Third    man
 704       3    male  26.0      1      0    7.8542        S   Third    man
 813       3  female   6.0      4      2   31.2750        S   Third  child
 ..      ...     ...   ...    ...    ...       ...      ...     ...    ...
 106       3  female  21.0      0      0    7.6500        S   Third  woman
 270       1    male   NaN      0      0   31.0000        S   First    man
 860       3    male  41.0      2      0   14.1083        S   Third    man
 435       1  female  14.0      1      2  120.0000        S   First  child
 102       1    male  21.0      0      1   77.2875        S   First    man

      adult_male deck  embark_town alive  alone
 331        True    C  Southampton    no   True
 733        True  NaN  Southampton    no   True
 382        True  NaN  Southampton    no   True
 704        True  NaN  Southampton    no  False
 813       False  NaN  Southampton    no  False
 ..          ...  ...          ...   ...    ...
 106       False  NaN  Southampton   yes   True
 270        True  NaN  Southampton    no   True
 860        True  NaN  Southampton    no  False
 435       False    B  Southampton   yes  False
 102        True    D  Southampton    no  False

 [712 rows x 14 columns],
      pclass     sex   age  sibsp  parch     fare embarked   class    who  \
 709       3    male   NaN      1      1  15.2458        C   Third    man
 439       2    male  31.0      0      0  10.5000        S  Second    man
 840       3    male  20.0      0      0   7.9250        S   Third    man
 720       2  female   6.0      0      1  33.0000        S  Second  child
 39        3  female  14.0      1      0  11.2417        C   Third  child
 ..      ...     ...   ...    ...    ...      ...      ...     ...    ...
 433       3    male  17.0      0      0   7.1250        S   Third    man
 773       3    male   NaN      0      0   7.2250        C   Third    man
 25        3  female  38.0      1      5  31.3875        S   Third  woman
 84        2  female  17.0      0      0  10.5000        S  Second  woman
 10        3  female   4.0      1      1  16.7000        S   Third  child

      adult_male deck  embark_town alive  alone
 709        True  NaN    Cherbourg   yes  False
 439        True  NaN  Southampton    no   True
 840        True  NaN  Southampton    no   True
 720       False  NaN  Southampton   yes  False
 39        False  NaN    Cherbourg   yes  False
 ..          ...  ...          ...   ...    ...
 433        True  NaN  Southampton    no   True
 773        True  NaN    Cherbourg    no   True
 25        False  NaN  Southampton   yes  False
 84        False  NaN  Southampton   yes   True
 10        False    G  Southampton   yes  False

 [179 rows x 14 columns],
 331    0
 733    0
 382    0
 704    0
 813    0
       ..
 106    1
 270    0
 860    0
 435    1
 102    0
 Name: survived, Length: 712, dtype: int64,
 709    1
 439    0
 840    0
 720    1
 39     1
       ..
 433    0
 773    0
 25     1
 84     1
 10     1
 Name: survived, Length: 179, dtype: int64)

In [30]:
def clean_missing_values(X_train, X_test, column_names=["age","embark_town"], drop_columns=["deck"]):
    X_train[column_names] = X_train[column_names].fillna(X_train[column_names].median())
    X_test[column_names] = X_test[column_names].fillna(X_test[column_names].median())
    
    X_train.drop(columns=drop_columns, inplace=True, errors='ignore')
    X_test.drop(columns=drop_columns, inplace=True, errors='ignore')
  
    train_df = X_train
    test_df = X_test

    return train_df, test_df

In [34]:
clean_missing_values(X_train, X_test, column_names=["age","embark_town"], drop_columns=["deck"])

C:\Users\Juliane\AppData\Local\Temp\ipykernel_8056\1585665348.py:2: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  X_train[column_names] = X_train[column_names].fillna(X_train[column_names].median())
C:\Users\Juliane\AppData\Local\Temp\ipykernel_8056\1585665348.py:3: FutureWarning: The default value of numeric_only in DataFrame.median is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  X_test[column_names] = X_test[column_names].fillna(X_test[column_names].median())

(     pclass     sex   age  sibsp  parch      fare embarked   class    who  \
 331       1    male  45.5      0      0   28.5000        S   First    man
 733       2    male  23.0      0      0   13.0000        S  Second    man
 382       3    male  32.0      0      0    7.9250        S   Third    man
 704       3    male  26.0      1      0    7.8542        S   Third    man
 813       3  female   6.0      4      2   31.2750        S   Third  child
 ..      ...     ...   ...    ...    ...       ...      ...     ...    ...
 106       3  female  21.0      0      0    7.6500        S   Third  woman
 270       1    male  28.0      0      0   31.0000        S   First    man
 860       3    male  41.0      2      0   14.1083        S   Third    man
 435       1  female  14.0      1      2  120.0000        S   First  child
 102       1    male  21.0      0      1   77.2875        S   First    man

      adult_male  embark_town alive  alone
 331        True  Southampton    no   True
 733        True  Southampton    no   True
 382        True  Southampton    no   True
 704        True  Southampton    no  False
 813       False  Southampton    no  False
 ..          ...          ...   ...    ...
 106       False  Southampton   yes   True
 270        True  Southampton    no   True
 860        True  Southampton    no  False
 435       False  Southampton   yes  False
 102        True  Southampton    no  False

 [712 rows x 13 columns],
      pclass     sex   age  sibsp  parch     fare embarked   class    who  \
 709       3    male  29.0      1      1  15.2458        C   Third    man
 439       2    male  31.0      0      0  10.5000        S  Second    man
 840       3    male  20.0      0      0   7.9250        S   Third    man
 720       2  female   6.0      0      1  33.0000        S  Second  child
 39        3  female  14.0      1      0  11.2417        C   Third  child
 ..      ...     ...   ...    ...    ...      ...      ...     ...    ...
 433       3    male  17.0      0      0   7.1250        S   Third    man
 773       3    male  29.0      0      0   7.2250        C   Third    man
 25        3  female  38.0      1      5  31.3875        S   Third  woman
 84        2  female  17.0      0      0  10.5000        S  Second  woman
 10        3  female   4.0      1      1  16.7000        S   Third  child

      adult_male  embark_town alive  alone
 709        True    Cherbourg   yes  False
 439        True  Southampton    no   True
 840        True  Southampton    no   True
 720       False  Southampton   yes  False
 39        False    Cherbourg   yes  False
 ..          ...          ...   ...    ...
 433        True  Southampton    no   True
 773        True    Cherbourg    no   True
 25        False  Southampton   yes  False
 84        False  Southampton   yes   True
 10        False  Southampton   yes  False

 [179 rows x 13 columns])

In [36]:
X_train.isna().sum()

pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
embark_town    2
alive          0
alone          0
dtype: int64

In [43]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

def feature_engineering(X_train, X_test, label_encoders={'Sex': "LabelEncoder", 'Embarked': "OneHotEncoder"},
                        drop_cols=['SibSp', 'Parch', 'Sex', 'Embarked', 'PassengerId', 'Name', 'Ticket']):

    for col, encoder_type in label_encoders.items():
        if encoder_type == "LabelEncoder":
            label_encoder = LabelEncoder()
            X_train[col] = label_encoder.fit_transform(X_train[col])
            X_test[col] = label_encoder.transform(X_test[col])
        elif encoder_type == "OneHotEncoder":
            X_train = pd.get_dummies(X_train, columns=[col], prefix=[col])
            X_test = pd.get_dummies(X_test, columns=[col], prefix=[col])

    # Create a new column 'TravelAlone' as a combination of 'SibSp' and 'Parch'
    X_train['TravelAlone'] = (X_train['sibsp'] + X_train['parch']).apply(lambda x: 1 if x == 0 else 0)
    X_test['TravelAlone'] = (X_test['sibsp'] + X_test['parch']).apply(lambda x: 1 if x == 0 else 0)

    # Drop unnecessary columns
    X_train.drop(columns=drop_cols, inplace=True)
    X_test.drop(columns=drop_cols, inplace=True)

    return X_train, X_test

In [45]:
feature_engineering(X_train, X_test, label_encoders={'sex': "LabelEncoder", 'embarked': "OneHotEncoder"},
                        drop_cols=['sibsp', 'parch', 'sex'])

(     pclass   age      fare   class    who  adult_male  embark_town alive  \
 331       1  45.5   28.5000   First    man        True  Southampton    no
 733       2  23.0   13.0000  Second    man        True  Southampton    no
 382       3  32.0    7.9250   Third    man        True  Southampton    no
 704       3  26.0    7.8542   Third    man        True  Southampton    no
 813       3   6.0   31.2750   Third  child       False  Southampton    no
 ..      ...   ...       ...     ...    ...         ...          ...   ...
 106       3  21.0    7.6500   Third  woman       False  Southampton   yes
 270       1  28.0   31.0000   First    man        True  Southampton    no
 860       3  41.0   14.1083   Third    man        True  Southampton    no
 435       1  14.0  120.0000   First  child       False  Southampton   yes
 102       1  21.0   77.2875   First    man        True  Southampton    no

      alone  embarked_C  embarked_Q  embarked_S  TravelAlone
 331   True           0           0           1            1
 733   True           0           0           1            1
 382   True           0           0           1            1
 704  False           0           0           1            0
 813  False           0           0           1            0
 ..     ...         ...         ...         ...          ...
 106   True           0           0           1            1
 270   True           0           0           1            1
 860  False           0           0           1            0
 435  False           0           0           1            0
 102  False           0           0           1            0

 [712 rows x 13 columns],
      pclass   age     fare   class    who  adult_male  embark_town alive  \
 709       3  29.0  15.2458   Third    man        True    Cherbourg   yes
 439       2  31.0  10.5000  Second    man        True  Southampton    no
 840       3  20.0   7.9250   Third    man        True  Southampton    no
 720       2   6.0  33.0000  Second  child       False  Southampton   yes
 39        3  14.0  11.2417   Third  child       False    Cherbourg   yes
 ..      ...   ...      ...     ...    ...         ...          ...   ...
 433       3  17.0   7.1250   Third    man        True  Southampton    no
 773       3  29.0   7.2250   Third    man        True    Cherbourg    no
 25        3  38.0  31.3875   Third  woman       False  Southampton   yes
 84        2  17.0  10.5000  Second  woman       False  Southampton   yes
 10        3   4.0  16.7000   Third  child       False  Southampton   yes

      alone  embarked_C  embarked_Q  embarked_S  TravelAlone
 709  False           1           0           0            0
 439   True           0           0           1            1
 840   True           0           0           1            1
 720  False           0           0           1            0
 39   False           1           0           0            0
 ..     ...         ...         ...         ...          ...
 433   True           0           0           1            1
 773   True           1           0           0            1
 25   False           0           0           1            0
 84    True           0           0           1            1
 10   False           0           0           1            0

 [179 rows x 13 columns])

In [41]:
X_train.columns

Index(['pclass', 'sex', 'age', 'sibsp', 'parch', 'fare', 'embarked', 'class',
       'who', 'adult_male', 'embark_town', 'alive', 'alone'],
      dtype='object')

In [49]:
def feature_scaling(X_train,X_test):
    """
    Applies feature scaling on the input data using StandardScaler from scikit-learn.

    Parameters:
    X_train (pandas.DataFrame): Training data to scale, with feature engineering already done to it.
    X_test (pandas.DataFrame): Test data to scale, with feature engineering already done to it.

    Returns:
    X_train_transf (numpy.ndarray): Scaled training data.
    X_test_transf (numpy.ndarray): Scaled test data.
    """
    scaler = StandardScaler()
    st_scale = StandardScaler()
    X_train_transf = st_scale.fit_transform(X_train)
    X_test_transf = st_scale.transform(X_test)
    return X_train_transf, X_test_transf

In [51]:
X_train.dtypes

pclass            int64
sex               int64
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class          category
who              object
adult_male         bool
embark_town      object
alive            object
alone              bool
dtype: object

In [50]:
feature_scaling(X_train,X_test)

ValueError: Cannot cast object dtype to float64

In [47]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

def log_reg_pred(X_train_transf, X_test_transf, y_train, y_test):
    """
    Train and evaluate a logistic regression classifier.

    Parameters:
    X_train_transf (array-like): Scaled training data.
    X_test_transf (array-like): Scaled test data.
    y_train (array-like): Labels for training data.
    y_test (array-like): Labels for test data.

    Returns:
    float: Accuracy score of the logistic regression classifier on the test data.
    """

    model = LogisticRegression()
    model.fit(X_train_transf, y_train)
    y_pred = model.predict(X_test_transf)
    accuracy = accuracy_score(y_test, y_pred)
 
    return accuracy

In [48]:
log_reg_pred(X_train_transf, X_test_transf, y_train, y_test)

NameError: name 'X_train_transf' is not defined

from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

def log_reg_pred(X_train_transf, X_test_transf, y_train, y_test):
    """
    Train and evaluate a logistic regression classifier.

    Parameters:
    X_train_transf (array-like): Scaled training data.
    X_test_transf (array-like): Scaled test data.
    y_train (array-like): Labels for training data.
    y_test (array-like): Labels for test data.

    Returns:
    float: Accuracy score of the logistic regression classifier on the test data.
    """

    # Initialize the Logistic Regression model
    logreg_model = LogisticRegression()

    # Train the model on the scaled training data
    logreg_model.fit(X_train_transf, y_train)

    # Make predictions on the test data
    y_pred = logreg_model.predict(X_test_transf) # OR: y_pred = logreg.predict(X_test_transf)

    # Evaluate the accuracy of the model
    accuracy = accuracy_score(y_test, y_pred)

    return accuracy

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

def rf_pred(X_train, X_test, y_train, y_test):
    """
    Train and evaluate a random forest classifier.

    Parameters:
    X_train (array-like): Training data after feature engineering (data is not scaled).
    X_test (array-like): Test data after feature engineering (data is not scaled).
    y_train (array-like): Labels for training data.
    y_test (array-like): Labels for test data.

    Returns:
    float: Accuracy score of the random forest classifier on the test data.
    """

    rf_classifier = RandomForestClassifier(random_state=42)

    rf_classifier.fit(X_train, y_train)

    y_pred = rf_classifier.predict(X_test)

    accuracy = accuracy_score(y_test, y_pred)

    return accuracy

In [12]:
from sklearn.ensemble import RandomForestClassifier

def feature_selection_rf(X_train, X_test, y_train, y_test):
    """
    Perform feature selection using Random Forest Classifier.

    Parameters:
    X_train (numpy.ndarray): Array of training data features after feature engineering (data is not scaled).
    X_test (numpy.ndarray): Array of test data features after feature engineering (data is not scaled).
    y_train (array-like): Labels for training data.
    y_test (array-like): Labels for test data.

    Returns:
    list: List containing 5 feature names which got the top 5 importance scores, in descending order
    """
  
    rf_classifier = RandomForestClassifier(random_state=42)
    rf_classifier.fit(X_train, y_train)
    
    feature_importances = rf_classifier.feature_importances_

    feature_importance_dict = dict(zip(range(len(feature_importances)), feature_importances))

    top_5_features = sorted(feature_importance_dict, key=feature_importance_dict.get, reverse=True)[:5]

    feature_names = [f"Feature_{i}" for i in top_5_features]

    return feature_names

In [ ]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score

def hyperparam_tuning_rf(X_train, X_test, y_train, y_test):
    """
    Tune hyperparameters for a Random Forest Classifier using grid search with cross-validation.
    
    Parameters:
    X_train (numpy.ndarray): Array of training data features after feature engineering (data is not scaled).
    X_test (numpy.ndarray): Array of test data features after feature engineering (data is not scaled).
    y_train (numpy.ndarray): Array of training data labels.
    y_test (numpy.ndarray): Array of test data labels.
    
    Returns:
    tuple: (float, float) Returns a tuple containing the accuracy score of the best estimator on the training set and 
        the accuracy score of the predicted values on the testing set.
    """
 
    rf_classifier = RandomForestClassifier(random_state=42)

    param_grid = {
        'n_estimators': [50, 100, 150],
        'max_depth': [None, 10, 20],
        'min_samples_split': [2, 5, 10],
        'min_samples_leaf': [1, 2, 4]
    }

    grid_search = GridSearchCV(estimator=rf_classifier, param_grid=param_grid, cv=3, scoring='accuracy')

    grid_search.fit(X_train, y_train)

    best_rf_classifier = grid_search.best_estimator_

    y_train_pred = best_rf_classifier.predict(X_train)
    y_test_pred = best_rf_classifier.predict(X_test)

    train_accuracy = accuracy_score(y_train, y_train_pred)
    test_accuracy = accuracy_score(y_test, y_test_pred)

    return train_accuracy, test_accuracy