In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.datasets import load_iris, load_breast_cancer
from sklearn.datasets import fetch_california_housing
from sklearn.datasets import load_iris, load_breast_cancer
from sklearn.tree import DecisionTreeRegressor
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
from sklearn.tree import plot_tree
%matplotlib inline

In [2]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import confusion_matrix,  ConfusionMatrixDisplay
from sklearn.metrics import accuracy_score, precision_score, recall_score

import warnings
warnings.filterwarnings("ignore", category=FutureWarning)

In [33]:
#Read that data into Python and call the dataframe churnData.
df = pd.read_csv(r"C:\Users\Juliane\Documents\GitHub\labs_repo\Labs\LabsW7\DATA_Customer-Churn.csv")

In [34]:
#Check the datatypes of all the columns in the data. You will see that the column TotalCharges is object type. 
#Convert this column into numeric type using pd.to_numeric function.
df.head(3)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.5,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes

In [35]:
#pd.to_numeric(db.TotalCharges)

df['TotalCharges'] = pd.to_numeric(df['TotalCharges'], errors='coerce')
df.dtypes

gender               object
SeniorCitizen         int64
Partner              object
Dependents           object
tenure                int64
PhoneService         object
OnlineSecurity       object
OnlineBackup         object
DeviceProtection     object
TechSupport          object
StreamingTV          object
StreamingMovies      object
Contract             object
MonthlyCharges      float64
TotalCharges        float64
Churn                object
dtype: object

In [36]:
#Check for null values in the dataframe. Replace the null values.   # MAYBE AGAIN WITH NEXT NEIGHBOUR
df.isna().sum()

gender               0
SeniorCitizen        0
Partner              0
Dependents           0
tenure               0
PhoneService         0
OnlineSecurity       0
OnlineBackup         0
DeviceProtection     0
TechSupport          0
StreamingTV          0
StreamingMovies      0
Contract             0
MonthlyCharges       0
TotalCharges        11
Churn                0
dtype: int64

In [37]:
df = df.fillna(df['TotalCharges'].mean())

In [38]:
df.isna().sum()

gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [40]:
df.head(3)

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,MonthlyCharges,TotalCharges,Churn
0,Female,0,Yes,No,1,No,No,Yes,No,No,No,No,Month-to-month,29.85,29.85,No
1,Male,0,No,No,34,Yes,Yes,No,Yes,No,No,No,One year,56.95,1889.50,No
2,Male,0,No,No,2,Yes,Yes,Yes,No,No,No,No,Month-to-month,53.85,108.15,Yes

In [18]:
#Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges: I DID THIS ABOVE/IN BEGINNING
# - Split the data into a training set and a test set.

In [41]:
#Use the following features: tenure, SeniorCitizen, MonthlyCharges and TotalCharges
X = df[['tenure', 'SeniorCitizen', 'MonthlyCharges', 'TotalCharges']]  # Define and put the features you want in X 
y = df['Churn']  # Target variable

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [42]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import PowerTransformer
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix

log_model = LogisticRegression() 

## Data splitting
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=11)

In [43]:
# - Scale the features either by using normalizer or a standard scaler.
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train_scaled = scaler.transform(X_train)
X_test_scaled = scaler.transform(X_train)

In [46]:
from sklearn.preprocessing import PowerTransformer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score

# Fit a logistic regression model on the training data.
pt = PowerTransformer()
pt.fit(X_train)
X_train_log = pt.transform(X_train)
X_test_log = pt.transform(X_test)

log_model = LogisticRegression(random_state=42)

# Fit the logistic regression model on the transformed data.
log_model.fit(X_train_log, y_train)

# Make predictions on both the training and test sets.
y_pred_train_log = log_model.predict(X_train_log)
y_pred_test_log = log_model.predict(X_test_log)

# Calculate performance metrics with pos_label set to 'Yes'.
performance_log = pd.DataFrame({'Error_metric': ['Accuracy', 'Precision', 'Recall'],
                                'Train': [accuracy_score(y_train, y_pred_train_log),
                                          precision_score(y_train, y_pred_train_log, pos_label='Yes'),
                                          recall_score(y_train, y_pred_train_log, pos_label='Yes')],
                                'Test': [accuracy_score(y_test, y_pred_test_log),
                                         precision_score(y_test, y_pred_test_log, pos_label='Yes'),
                                         recall_score(y_test, y_pred_test_log, pos_label='Yes')]})

display(performance_log)

  Error_metric     Train      Test
0     Accuracy  0.788782  0.801278
1    Precision  0.652482  0.699187
2       Recall  0.431925  0.455026

In [47]:
# - Fit a Knn Classifier(NOT KnnRegressor please!)model on the training data.
model = KNeighborsClassifier(n_neighbors=5,weights='uniform') # declare we're using knn classification model
model.fit(X_train_scaled, y_train) # train model
y_pred = model.predict(X_test_scaled) # predict test
y_pred_train=model.predict(X_train_scaled) # predict train (for sanity checks)

# Calculate performance metrics with pos_label set to 'Yes'.
performance_log = pd.DataFrame({'Error_metric': ['Accuracy', 'Precision', 'Recall'],
                                'Train': [accuracy_score(y_train, y_pred_train_log),
                                          precision_score(y_train, y_pred_train_log, pos_label='Yes'),
                                          recall_score(y_train, y_pred_train_log, pos_label='Yes')],
                                'Test': [accuracy_score(y_test, y_pred_test_log),
                                         precision_score(y_test, y_pred_test_log, pos_label='Yes'),
                                         recall_score(y_test, y_pred_test_log, pos_label='Yes')]})

display(performance_log)

  Error_metric     Train      Test
0     Accuracy  0.788782  0.801278
1    Precision  0.652482  0.699187
2       Recall  0.431925  0.455026

In [55]:
len(y_pred)

5634

In [49]:
y_pred[0:5]

array(['No', 'No', 'Yes', 'Yes', 'No'], dtype=object)

In [50]:
y_test.head(5)

6625    Yes
5975    Yes
6891     No
1681     No
4780     No
Name: Churn, dtype: object

In [54]:
y_test

6625    Yes
5975    Yes
6891     No
1681     No
4780     No
       ...
6525     No
710     Yes
6639     No
6844     No
2736     No
Name: Churn, Length: 1409, dtype: object

In [53]:
cm = confusion_matrix(y_test, y_pred, labels= model.classes_)
disp = ConfusionMatrixDisplay(cm)
disp.plot()

ValueError: Found input variables with inconsistent numbers of samples: [1409, 5634]